<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../css/styles.css" rel="stylesheet"/>
  <title>Widget List</title>
</head>
<body>
  <div class="container-fluid">
    <h1>Widget List </h1>
    <div class="wd-widget">
      <div class="wd-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h1>A Heading of size 1</h1>
    </div>
    <div class="wd-widget">
      <div class="wd-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <h2>A Heading of size 2</h2>
    </div>
    <div class="wd-widget">
      <div class="wd-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <img width="100%" src="http://lorempixel.com/400/200/">
    </div>
    <div class="wd-widget">
      <div class="wd-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <p>Sean Astin is one of those actors you just have to love. Whether it was his turn as Mikey in <em>The Goonies</em>, Rudy in <em>Rudy</em>, Sam in <em>The Lord of the Rings</em>, or even  Astin’s kindness, determination, and earnestness make him a true fan favorite. Astin’s next project is out today. He’s the narrator of <em></em>…</p>
    </div>
    <div class="wd-widget">
      <div class="wd-toolbar">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/RQTgJRwMdKQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</body>
</html>
