<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../../css/styles.css" rel="stylesheet"/>
  <title>User Login</title>
</head>
<body>
  <div class="container-fluid">
    <h1>Login here! </h1>
    <input class="form-control" placeholder="alice" type="text" id="username"/>
    <input class="form-control" placeholder="password" type="password" id="password"/>
    <a href="profile.html" class="btn btn-primary btn-block">Login</a>
    <a href="register.html" class="btn btn-primary btn-block">Register</a>
  </div>
</body>
</html>
