<h1>Website List</h1>

<label>Website Name:</label>
<input class="form-control" placeholder="name" [(ngModel)]="websiteName"/>
<button class="btn btn-block btn-primary" (click)="createWebsite(websiteName)" >Create Website</button>

<ul class="list-group">
  <li *ngFor="let website of websites" class="list-group-item">
    {{website.name}}
    <a class="pull-right" (click)="deleteWebsite(website._id)">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </li>
</ul>

{{websiteName}}
